/* IMPORT FONT_FACES */
@font-face {
  font-family: BitFont;
  src: url("assets/fonts/bit-font.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: RobotoBlack;
  src: url("./assets/fonts/Roboto-Black.ttf");
}
@font-face {
  font-family: RobotoBold;
  src: url("./assets/fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: RobotoLight;
  src: url("./assets/fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: RobotoMedium;
  src: url("./assets/fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: RobotoThin;
  src: url("./assets/fonts/Roboto-Thin.ttf");
}

@keyframes blink {
  0% { opacity: 0.2; }
  50% { opacity: 1; }
  100% { opacity: 0.2; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes barLoading {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(350%); }
}

/* RESET STYLES AND DEFAULT VALUES */

* {
  box-sizing: border-box;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Roboto;
}

#body-root {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  left: 0;
  top: 0;

  & canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

#loader-root {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4b4b4b;
  left: 0;
  top: 0;
  flex-direction: column;

  .loader-label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
  }

  .loader-bar {
    position: absolute;
    width: 100%;
    height: 20px;
    top: 110%;
    border-radius: 30px;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 0 0 3px #fff;
    overflow: hidden;
    border: 3px solid #4b4b4b;

    &::before {
      content: '';
      width: 30%;
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: 30px;
      background: linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(0,178,181,1) 100%);
      animation: barLoading 1s ease infinite;
    }
  } // loader-bar

}

.hud-content {
  position: relative;
}

.score-content {
  position: absolute;
  left: 10px;
  top: 10px;
  font-family: BitFont;
  margin: 0;
  padding: 0;
  font-size: 13px;
  color: #fff;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;

}

.coins-content {
  position: absolute;
  right: 10px;
  top: 10px;
  font-family: BitFont;
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 13px;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.gamestart-content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: rgba(0,0,0,0.2);
  font-family: BitFont;
  text-shadow:
    /* first layer at 1px */
    -1px -1px 0px #000,
    0px -1px 0px #000,
    1px -1px 0px #000,
    -1px  0px 0px #000,
    1px  0px 0px #000,
    -1px  1px 0px #000,
    0px  1px 0px #000,
    1px  1px 0px #000,
      /* second layer at 2px */
    -2px -2px 0px #000,
    -1px -2px 0px #000,
    0px -2px 0px #000,
    1px -2px 0px #000,
    2px -2px 0px #000,
    2px -1px 0px #000,
    2px  0px 0px #000,
    2px  1px 0px #000,
    2px  2px 0px #000,
    1px  2px 0px #000,
    0px  2px 0px #000,
    -1px  2px 0px #000,
    -2px  2px 0px #000,
    -2px  1px 0px #000,
    -2px  0px 0px #000,
    -2px -1px 0px #000;
}

.gameover-content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: none;
  color: #fff;
  background-color: rgba(0,0,0,0.5);
  font-family: BitFont;

  text-shadow:
    /* first layer at 1px */
    -1px -1px 0px #000,
    0px -1px 0px #000,
    1px -1px 0px #000,
    -1px  0px 0px #000,
    1px  0px 0px #000,
    -1px  1px 0px #000,
    0px  1px 0px #000,
    1px  1px 0px #000,
      /* second layer at 2px */
    -2px -2px 0px #000,
    -1px -2px 0px #000,
    0px -2px 0px #000,
    1px -2px 0px #000,
    2px -2px 0px #000,
    2px -1px 0px #000,
    2px  0px 0px #000,
    2px  1px 0px #000,
    2px  2px 0px #000,
    1px  2px 0px #000,
    0px  2px 0px #000,
    -1px  2px 0px #000,
    -2px  2px 0px #000,
    -2px  1px 0px #000,
    -2px  0px 0px #000,
    -2px -1px 0px #000;
}

.blink {
  animation: blink 2s ease infinite;
}

.fadeout {
  animation: fadeOut 1s ease;
}
