/* IMPORT FONT_FACES */
@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: RobotoBlack;
  src: url("./assets/fonts/Roboto-Black.ttf");
}
@font-face {
  font-family: RobotoBold;
  src: url("./assets/fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: RobotoLight;
  src: url("./assets/fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: RobotoMedium;
  src: url("./assets/fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: RobotoThin;
  src: url("./assets/fonts/Roboto-Thin.ttf");
}

/* RESET STYLES AND DEFAULT VALUES */

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Roboto;
  background-color: #fafafa;
}
